<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ $style := resources.Get "styles/main.scss" | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
</head>
<body>
  {{ partial "navigation" . }}
  {{ block "main" . }}
  {{ end }}
  {{ partial "footer" . }}
</body>
</html>
