@import 'reset';
@import 'breakpoint';
@import 'color';
@import 'component';

html {
  font-size: 56.25%;
}

@include sm {
  html {
    font-size: 62.5%;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $page-background;
  color: $page-foreground;
  font-size: 1.5rem;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 2.4rem;
  width: 100%;
  max-width: 144rem;
}

.blog-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  max-width: 108rem;

  @include md {
    flex-direction: row;
    gap: 7.2rem;
  }

  .page-aside {
    width: 100%;
    max-width: 24rem;
  }

  .post-title {
    margin-bottom: 0.3em;
    font-size: 2em;
  }

  .post-text {
    h1 {
      margin: 0.67em 0;
      font-size: 2em;
    }

    h2 {
      margin: 0.67em 0;
      font-size: 2em;
    }

    h3 {
      margin: 0.83em 0;
      font-size: 1.17em;
    }

    h4 {
      margin: 1.33em 0;
      font-size: 1em;
    }

    h5 {
      margin: 1.67em 0;
      font-size: 0.83em;
    }

    h6 {
      margin: 2.33em 0;
      font-size: 0.67em;
    }

    p {
      margin: 1em 0;
    }

    ul,
    ol {
      margin: 1em 0;
      padding-left: 4rem;
    }
    
    ul { list-style: disc }
    ol { list-style: decimal }
  }
  
  .post-info {
    margin-bottom: 1.6rem;

    .info-line {
      display: flex;
      align-items: center;
      gap: 0.8rem;
  
      i {
        font-size: 1.3rem;
      }
    }
  }
}
